<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" android-versionCode="1" version="0.7.6" id="CONETAPP"  >
<name>CO.NET APP</name>
<description></description>
<author>Michael Ziß</author>
<plugin name="cordova-plugin-crosswalk-webview" source="npm" version="2.2.0" />
<plugin name="cordova-plugin-statusbar" spec="2.1.3"/>
<plugin name="cordova-plugin-device" spec="1.1.2"/>
<plugin name="cordova-plugin-splashscreen" spec="3.2.2"/>
<plugin name="cordova-plugin-whitelist" spec="1.2.2"/>
<plugin name="cordova-plugin-camera" spec="2.3.0">
<variable name="CAMERA_USAGE_DESCRIPTION" value=" "/>
<variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" "/>
</plugin>
<plugin name="cordova-plugin-compat" spec="1.0.0"/>
<plugin name="cordova-plugin-geolocation" spec="2.2.0"/>
<content src="index.html" />
<access origin="*" />
<access origin="http://127.0.0.1*"/>
<access origin="http://192.168.178.100" subdomains="true" />
<access origin="http://*.phonegap.com"/>
<splash platform="android" src="package-assets/splash.png" density="xhdpi" width="720" height="960" orientation="portrait"/>
<icon platform="android" src="package-assets/logo_36.png" density="ldpi" width="36" height="36"/>
<icon platform="android" src="package-assets/logo_48.png" density="mdpi" width="48" height="48"/>
<icon platform="android" src="package-assets/logo_72.png" density="hdpi" width="72" height="72"/>
<icon platform="android" src="package-assets/logo_96.png" density="xhdpi" width="96" height="96"/>
<log level="DEBUG"/>
</widget>
